################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/debug
/.vs
/release/moc_predefs.h.cbt
/.qmake.stash
/LinearTransformation.pro.user
/LinearTransformation.vcxproj.filters
/LinearTransformation.vcxproj.user
/ui_TransformationWindow.h
